<!-- INTRO SECTION -->
<section class="section-image">
  <div class="img-overlay"></div>
  <!--<a href="https://github.com/izzydoesizzy/resumetemplate" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" 
      src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" 
      alt="Fork me on GitHub" 
      data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
  </a>-->
  <div class="intro">
    <div class="row">
      <div class="col-md-12">
        <h5>Ingeniero en Sistemas Computacionales</h5>
        <h1>Antonio Castellanos Loya</h1>
        <p class="intro-desc">
          <span>Desarrollador Web Full Stack</span>
          <span class="colour-splash">•</span>
          <span>Master en Dirección e Ingeniería de Sitios Web</span> 
          <span class="colour-splash">•</span> 
          <span>Fan de StarWars</span>
        </p>
      </div><!-- /col-md-12 -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="social">
          <a href="https://twitter.com/Lord_Vader_Mx" target="_blank"><i class="fa fa-twitter fa-3x"></i></a> 
          <a href="https://www.instagram.com/castean" target="_blank"><i class="fa fa-instagram fa-3x"></i></a> 
          <a href="https://www.linkedin.com/in/antonio-castellanos-loya-a0178056" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a> 
          <!--<a href="https://medium.com/@izzydoesizzy" target="_blank"><i class="fa fa-medium fa-3x"></i></a>
          <a href="http://www.youtube.com/user/izzydoesizzy" target="_blank"><i class="fa fa-youtube fa-3x"></i></a> -->
          <a href="https://github.com/castean" target="_blank"><i class="fa fa-github fa-3x"></i></a>
        </div><!-- /social -->
      </div><!-- /col-md-8 -->
    </div><!-- /row -->
      
    <div class="bottom">
      <a href="#about">
        <div class="mouse-icon">
          <div class="scroll"></div>
        </div>
      </a>
    </div>
  </div><!-- /intro -->
</section>


<!-- ABOUT SECTION -->
<section class="section-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <%=image_tag("acl.jpg", class: "profilepic", alt: "camioneta tipo van")%>
        <!--<img class="profilepic" src="https://pbs.twimg.com/profile_images/641063961144750081/IqosL0KD.jpg">-->
        <h2>Sobre mi</h2>
        <hr>
        <p class="lead">
          Estudié <span>Ingeniera en Sistemas Computacionales </span>en una época donde la tecnología empezaba a explotar. Si por casualidad eres de los ochenta, seguro que recuerdas la revolución digital del 2000.
          Mi experiencia laboral y mis dotes como ingeniero me llevaron a trabajar en varias ramas de las ciencias computacionales. Aunque todos aquellos empleos tenían algo en común, la tecnología avanzando y cambiando.
          Trabajar con muchos clientes durante estos años me enseñó a interpretar sus necesidades y a saber que hay que <span>adaptarse</span> a cada uno de manera diferente.
          Mi trabajo me encanta, y tengo la entera convicción que <span>continuare dando lo mejor de mi</span> en esta profesión.
          <!--Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. <span>Lorem Ipsum</span>
          has been the industry's standard dummy text ever since the
          1500s, when an <span>unknown printer</span> took a galley
          of type and scrambled it to make a type specimen book.-->
        </p>
      </div><!-- /col-md-6 -->
    </div><!-- / row -->
  </div><!-- /container -->
</section>

<!-- SKILLS SECTION -->
<section class="section-image" id="skills">
  <div class="img-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading">
        <h2>Habilidades</h2>
        <p class="lead">
          Algunas cosas sobre mi
        </p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <span class="lnr lnr-user"></span>
        <h2>Coaching y Liderazgo</h2>
        <p>
          Mis diferentes empleos me han llevado a trabajar con equipos multiculturales
          y he aprendido a trabajar codo a codo y en equipo para cumplir 
          con las expectativas y necesidades de los clientes 
          siempre reconociendo el trabajo logrado en conjunto.
        </p>
      </div><!-- /col-md-4 text-center -->

      <div class="col-md-4 text-center">
        <span class="lnr lnr-star"></span>
        <h2>Análisis y Planeación</h2>
        <p>
          La experiencia de trabajar de forma integral en diferentes proyectos
          me a dado el conocimiento para poder entender las necesidades particulares de cada cliente
          y así hacer el mejor plan de trabajo para lograr los objetivos deseados.
        </p>
      </div>

      <div class="col-md-4 text-center">
        <span class="lnr lnr-diamond"></span>
        <h2>Creatividad e innovación</h2>
        <p>
          En los años como ingeniero me he topado un sin fin de problemas 
          pero jamas me han frenado, pues mi experiencia, mi creatividad y mi capacidad resolutiva me sacan adelante.
        </p>
      </div>
    </div> <!-- / row -->
  </div><!-- /container -->
</section>

<!-- TIMELINE SECTION -->
<section class="section-primary" id="timelinesection">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading">
        <h2>Logros Realizados</h2>
        <p class="lead">Acompañame en este pequeño resumen</p>
        <hr class="white">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="timeline"><!-- Timeline -->
          <!-- Timeline Item, copy from here to create various boxes -->
          <div class="timeline-item">
            <!--Icon inside the circle-->
            <div class="timeline-icon">
                <i class="fa fa-star"></i>
            </div>
            <!-- Content from timeline box and position (right or left)-->
            <div class="timeline-content right">
              <h2>2000</h2>
              <p>
                En este año inicio mi vida laboral ya
                como ingeniero en sistemas computacionales 
                colocandome de inmediato en empresas 
                del sector maquiladora.
              </p>
            </div>
          </div>
          
          <!-- /Timeline Item-->
          <!-- Timeline Item, copy from here to create various boxes -->
          <div class="timeline-item">
            <!--Icon inside the circle-->
            <div class="timeline-icon">
              <i class="fa fa-cog"></i>
            </div>
            <!-- Content from timeline box and position (right or left)-->
            <div class="timeline-content left">
              <h2>2004</h2>
              <p>
                Centro de Distribución OXXO llega a Chihuahua
                y tengo la oportunidad de tomar la Gerencia del
                área de sistemas para la integración de toda la tecnología.
              </p>
            </div>
          </div>

          <!-- /Timeline Item-->
          <!-- Timeline Item, copy from here to create various boxes -->
          <div class="timeline-item">
            <!--Icon inside the circle-->
            <div class="timeline-icon">
                <i class="fa fa-plane"></i>
            </div>
            <!-- Content from timeline box and position (right or left)-->
            <div class="timeline-content right">
              <h2>2012</h2>
              <p>
                Asumo la Jefatura de Sistemas del DIF Estatal
                y posteriormente migre a la Secretaria de Haciendas
                para continuar con el desarrollo de sistemas web.
              </p>
            </div>
          </div>

          <!-- /Timeline Item-->
          <!-- Timeline Item, copy from here to create various boxes -->
          <div class="timeline-item">
              <!--Icon inside the circle-->
              <div class="timeline-icon">
                  <i class="fa fa-group"></i>
              </div>
              <!-- Content from timeline box and position (right or left)-->
              <div class="timeline-content left">
                  <h2>2017</h2>
                  <p>
                    Empiezo mi trayecto como freelancer tomando 
                    el desarrollo de sistemas para empresas nacionales
                    e internacionales como Printer, Scubatravel, Ink'n'art
                    entre otras.
                    .
                  </p>
              </div>
          </div>

          <!-- /Timeline Item-->
          <!-- Timeline Item, copy from here to create various boxes -->
          <div class="timeline-item">
            <!--Icon inside the circle-->
            <div class="timeline-icon">
                <i class="fa fa-star"></i>
            </div>
            <!-- Content from timeline box and position (right or left)-->
            <div class="timeline-content right">
              <h2>2020</h2>
              <p>
                El aprendizaje continuo es parte integral de todo
                profecional, por eso continue mi trayecto con el estudio de la
                Maestría en Dirección e Ingeniería de Sitios Web
                en UNIR México.
              </p>
            </div>
          </div>
          
        </div><!-- /Timeline Item-->
      </div><!-- /col-md-12 -->
    </div><!-- /row -->
  </div> <!-- / container -->
</section>

<!-- FOOTER SECTION -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>
          Desarrollo para: <a href="http://www.unir.net" target="_blank">UNIR México</a>
          <br>
          Virtualización y Computación en la Nube
          <!--<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><i class="fa fa-creative-commons"></i>
            Attribution 4.0 License
          </a>-->
        </p>
      </div>
      <div class="col-md-4 text-center">
        <p>
          ¿Gustas conocerme?
          <!--<a href="http://www.clearcarer.ca" target="_blank"></a> -->
          <a href="https://calendly.com/ing-castean/reunion-para-conocernos" target="_blank">Agendemos</a>
        </p>
      </div>
      <div class="col-md-4">
        <div class="social-footer">
          <a href="https://twitter.com/Lord_Vader_Mx" target="_blank"><i class="fa fa-twitter"></i></a> 
          <a href="https://www.instagram.com/castean" target="_blank"><i class="fa fa-instagram"></i></a> 
          <a href="https://www.linkedin.com/in/antonio-castellanos-loya-a0178056/" target="_blank"><i class="fa fa-linkedin"></i></a>  
          <!--<a href="http://www.youtube.com/user/izzydoesizzy" target="_blank"><i class="fa fa-youtube"></i></a> -->
          <a href="https://github.com/castean" target="_blank"><i class="fa fa-github"></i></a>
        </div> <!-- /social footer -->
      </div> <!-- /col-md-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script>
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script> 


